template(name='navbar')
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/' class="{{isActivePath '/'}}") &#10003;polls
      div
        ul.nav.navbar-nav
          li
            a(href='/about' class="{{isActivePath '/about'}}") about