head
  title Polls
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

body

template(name='layout')  
  header
    +navbar
  #banner.hero-unit
    .container
      h1 &#10003;polls
      p.lead a Basejump for freeCodeCamp
  {{> Template.dynamic template=content}}
  footer.footer
    .container
      p &#10003;polls - &copy; 2015 - Jan Pilgenröder

template(name='polls')
  .container-fluid
    .row
      .col-lg-12
        h1.page-header Polls:
          a.btn.btn-default.pull-right.new-poll-btn(href='/edit/new' disabled=mayNotCreate)
            span.glyphicon.glyphicon-plus
            | New Poll
        div
          each polls
            +pollDisplay
        

