head
  title Polls

body

template(name='layout')  
  header
    +navbar
    #banner.hero-unit
      .container
        h1 &#10003;polls
        p.lead a Basejump for freeCodeCamp
  +yield
  footer.footer
    .container
      p &#10003;polls - &copy; 2015 - Jan Pilgenröder


template(name='polls')
  .container
    .row
      .col-lg-12
        h1.page-header Polls:
          a.btn.btn-default.pull-right.new-poll-btn(href='/edit')
            span.glyphicon.glyphicon-plus
            | New Poll

        each polls
          +pollDisplay
        

